<Doctype html>
    <html>

    <head>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}">

  
         <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
         <script  src="{{url_for('static', filename='script.js')}}"></script>

        {% if title %}

        <title>wajirlive/{{title}}</title>


        {%else%}


        <title>wajirlive</title>

        {%endif%}

    </head>

    <body >
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #2f3640;"
        >
            <div class="container">
              <a class="navbar-brand mr-4" href="/">WajirLive</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="/">Home</a>
                  <a class="nav-item nav-link" href="/about">About</a>
                   
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                 <a class="nav-item nav-link" href="{{url_for('posts.newpost')}}">New Post</a>
                 <a class="nav-item nav-link" href=" {{url_for('users.account',username=current_user.username)}}">Profile</a>
                 
                  <a class="nav-item nav-link " href="{{url_for('users.logout')}}">Logout</a>
                    {%else%}
                  <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
                  <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
                  {%endif%}

              </div>
          </div>
      </div>
  </nav>
</header>
<main role="main" class="container-fluid">
  <div  class="row" >

    <div class="col-md-3 left-list  " style="overflow-y: auto;">
  
     
       
          <ul  class="list-group " >
            
             <li class="list-group-item "><a class="nav-item nav-link" href="/">Home</a></li>

             <div class="media">
              {%if current_user.is_authenticated%}
           <a class="nav-item nav-link" href=" {{url_for('users.account',username=current_user.username)}}"> <img class="rounded-circle comment-img" src="{{url_for('static',filename='images/' +  current_user.image_file)}}"></a>
                <div class="media-body">
                <li  ><a class="nav-item nav-link" href=" {{url_for('users.account',username=current_user.username)}}">{{current_user.username}}</a></li>
                </div>
                {%endif%}
            </div>
             

              
               {% if current_user.is_authenticated %}
                  <li> <a class="nav-item nav-link" href="{{url_for('posts.newpost')}}">Create Post</a></li>
                
                    {%else%}
                 <li> <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a></li>
                 <li> <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a></li>
                  {%endif%}
                   {% if current_user.is_authenticated %}
  <li class="border-bottom">
          <a class="nav-item nav-link" href="#">Groups</a></li>
            <li class="border-bottom">
          <a class="nav-item nav-link" href="#">Vote</a></li>
            <li class="border-bottom" >
          <a class="nav-item nav-link" href="#">Chat room</a></li>
             <li  class="border-bottom">
          <a class="nav-item nav-link" href="#">Events</a></li>
             
               <li >  <a class="nav-item nav-link " href="{{url_for('users.logout')}}">Logout</a></li>
              {%endif%}

        </ul>
   
  


   </div>
       <div class="col-md-6">
  

      {%with messages=get_flashed_messages(with_categories=True)%}
      {% if messages%}

        {%for  category,message in messages %}
          <div class=" alert alert-{{category}}">
            {{message}}
          </div>
        {%endfor%}

      {%endif%}

      {%endwith%}






      {% block content %}{% endblock %}
       
    
 
   
</div>

 <div class="col-md-3">

     
        <h3>Trends for you</h3>
       
         <ul class="list-group list-group-flush">
             <li class="list-group-item active">head</li>
              <li class="list-group-item ">Home</li>
            
           
            <li class="list-group-item ">Vote</li>
            <li class="list-group-item ">Chat room</li>
             <li class="list-group-item ">Events</li>
              <li class="list-group-item ">Friends</li>

        </ul>
   
  


</div>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


</html>