
<Doctype html>
    <html>

    <head>
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}">

  
         <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
         <script  src="{{url_for('static', filename='script.js')}}"></script>


        {% if title %}

        <title>myblog-{{title}}</title>


        {%else%}


        <title>myblog</title>
 {% endif  %}

    
    </head>

    <body>
     <main role="main" class="container">
  <div  class="row" >
    <div class="col-md-8">

      {%with messages=get_flashed_messages(with_categories=True)%}
      {% if messages%}

        {%for  category,message in messages %}
          <div class=" alert alert-{{category}}">
            {{message}}
          </div>
        {%endfor%}

      {%endif%}

      {%endwith%}



     <div class="card-textcenter  rounded shadow-lg bg-white p-4 mb-1">


     	<form method="POST" action="" class="form-group">
     		{{form.hidden_tag()}}

     		<fieldset class="form-group">
     			
     				<div class="form-group">
     				{{form.email.label(class="form-control-label")}}
     				{{form.email(class="form-control form-control-lg")}}
     			</div>
     			<div class="form-group">

     				{{form.password.label(class="form-control-label")}}
     				{{form.password(class="form-control form-control-lg")}}
     			</div>

                    <div class="form-group">
                     {{form.remember( class="form-control-check-input")}}
                     {{form.remember.label(class="form-control-label") }} 

                    </div>
     		


     		</fieldset>
     		<div class="form-group">

     		{{form.login( class="btn btn-outline-info")}} 

                    
                    <a href="{{url_for('users.request_password')}}">forgot password</a>
             


     		</div>
              

     	</form>
          <div class="border-top pt-4">
     	<small class="text-muted">Create account</small><a class="ml-2"  href="{{url_for('users.register')}}">Sign Up</a>
     </div>

     


     </div>
</main>
 
</body>

   